.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 50rem;
  width: 100%;
  border-radius: 10px;
}

h3 {
  font-family: sans-serif;
}